body,html{width:100%;height:100%;padding:0;margin:0;}
textarea {
    width: 100%;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
#main{
   float: right;
   height:100%;
    width: 30%;
}
#sidebar{
   width:70%;
   float: left;
   height:100%;
   /*overflow-y: hidden;*/
}

#dragbar{
   background-color:black;
   height:100%;
   float: right;
   width: 3px;
   cursor: col-resize;
}
#ghostbar{
    width:3px;
    background-color:#000;
    opacity:0.5;
    position:absolute;
    cursor: col-resize;
    z-index:999
}
#preview {
  width: 98%;
  height: 98%;
  min-height: 900px;
}
.rowElem{
  padding: 20px;
}
.rowElem.spectrum{
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: -6px;
}

.rowElem.negPad{
    margin-bottom: -21px;
}

.editor-panel {
  min-height: 900px;
}



.nopad{
  padding-bottom: 0px;
}

.rowElem  label {
  width: 25%;
  float: left;
}
.rowElem input {
  width: 75%;
  float: left;
}

.rowElem input.filename {
  width: 50%;
  float: left;
}




input.spectrum {
  width: 37% !important;
}

.sp-replacer {
  padding: 2px !important;
}

select {
    width: 75%;
    font-size: larger;
}

#template_editor_html, #template_editor_javascript {
  width: 100%;
  height: 250px;
}

.sites_form{
  display:none;
}

.navbar-default{
  background-color: black !important;
}

iframe#site_iframe{
  min-height: 300px;
}

iframe#user_iframe{
  min-height: 300px;
}


.template_accordion{
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-btn{
    margin-top: -8px;
}

.btn-small{
    font-size: 12px;
    padding: 0px 12px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 5px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#div_tier_id label{
    margin-right: 16px;
    margin-top: 10px;
    margin-left: 0px;
}

.top-margin-20 {
    margin-top: 20px;
}

.live_schedule_buttons{
    margin-top: 20px;
}
